
FranpetteWPF/obj/Debug/FranpetteWPF.csprojAssemblyReference.cache
FranpetteWPF/obj/Debug/FranpetteWPF_MarkupCompile.cache
FranpetteWPF/obj/Debug/MainWindow.baml
FranpetteWPF/obj/Debug/MainWindow.g.cs
